@import url('https://fonts.googleapis.com/css2?family=Namdhinggo&display=swap');

.fileDropContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
  font-family: 'Namdhinggo', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #333;
  overflow: -moz-hidden-unscrollable;
  margin: 0px;
}

.fileDropContainer>p {
  background-color: black;
  color: azure;
  padding: 5vh 0vh 0vh 0vh;
  margin: 0px;
}

.fileInput {
  padding: 1rem 4rem;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 2rem;
  margin: 0px;
}

.Canvas3D {
  display: flex;
  flex-direction: column;
  width: 75vw;
  justify-content: center;
  align-items: center;
  color: #2a2a2a;
  font-size: 2rem;
  background-color: grey;
  
}

.Canvas3D > p{
  position: fixed;
  top: 15vh;
  color: white
}

.ControlPanel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
  align-items: center;
  color: #d7d7d7;
  background-color: #2a2a2a;
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}

p{
  padding: 0px;
  margin: 0px;
}

.Main {
  display: flex;
  flex-direction: row;
  padding: 5vh;
  height: 80%;
}

.ControlText{
  padding: 5vh;
  background-color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  position: fixed;
  left: 43%;
  top: 40%
}