@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS HEX 
--dark-purple: #39284Bff;
--azure-web: #F6FEFFff;
--space-cadet: #1A234Dff;
--ultra-violet: #685CA2ff;
--space-cadet-2: #292449ff;
--dark-purple: hsla(269, 30%, 23%, 1);
--azure-web: hsla(187, 100%, 98%, 1);
--space-cadet: hsla(229, 50%, 20%, 1);
--ultra-violet: hsla(250, 28%, 50%, 1);
--space-cadet-2: hsla(248, 34%, 21%, 1);
$dark-purple: #39284Bff;
$azure-web: #F6FEFFff;
$space-cadet: #1A234Dff;
$ultra-violet: #685CA2ff;
$space-cadet-2: #292449ff
*/
@font-face {
    font-family: 'Righteous';
    src: local('Righteous'),
        url('../public/fonts/space-quest-font/SpaceQuest-Xj4o.ttf') format('woff'),
}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    color: #F6FEFF;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    z-index: -1
}

.contactMe {}

h1,
h2 {
    font-family: 'Righteous';
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#MissionControl {
    bottom: 0vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}
#MissionControl-Heading{
    position: fixed;
    bottom: -15vh;
    padding: 0vh 2.5vh 10vh 2.5vh;
    width: 25vh;
    height: 25vh;
    border-radius: 360px;
    background: linear-gradient(to top, #7003d8 0%, #9C17F5ff 100%);
}

#m1, #m4, #m2, #m3, #m5{
    margin: 0vh;
    padding: 0vh;
    bottom: 12.5vh;
    width: 5vh;
    height: 5vh;
    border-radius: 360px;
    position: fixed;
    font-family: Roboto serif;
}
#m1{
    left: 85vh; 
    bottom: 0vh; 
}
#m2{
    left: 90vh; 
    bottom: 7vh; 
}
#m4{
    right: 90vh; 
    bottom: 7vh; 
}
#m5{
    right: 85vh; 
    bottom: 0vh; 
}

#b1, #b4, #b2, #b3{
    margin: 2vh;
    width: 15vh;
    height: 15vh;
    border-radius: 360px;
    color: #F6FEFF;
    background: linear-gradient(to top, black 0%, #9C17F5ff 100%);
    position: fixed;
    font-family: Roboto serif;
}
#b1{
    right: 75vh; 
    bottom: -0.5vh;     
}
#b4{
    left: 75vh;
    bottom: -0.5vh;  
}
#b3{
    right: 88vh;  
    bottom: 10vh;  
}
#b2{
    left: 88vh;
    bottom: 10vh;
}

#b1:hover, #b4:hover, #b2:hover, #b3:hover, #MissionControl-Heading:hover{
    color: black;
    background: linear-gradient(to bottom, white 0%, #9C17F5ff 100%);
    background-color: white;
}

#AboutMe {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    color: #F6FEFF;
    font-size: 1rem;
    text-align: center;
    display: flex;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-weight: 750;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#BackButton {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 750;
    position: fixed;
    left: 2.5vh;
    bottom: 2.5vh;
    z-index: 3;
}

#AboutMeImage {
    top: 5vh;
    width: 100%;
    z-index: 1;
    opacity: 0.25;
}

#AboutMeText {
    position: fixed;
    width: 50vw;
    opacity: 1;
    z-index: 3;
    font-family: Patrick Hand SC;
}

#Experience {
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Companies{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 2vh;
}

#WebOccult,
#Prototech,
#Promact {
    transition: transform .5s;
    /* Animation */
    transform: scale(0.75);
    /* width: 25vw;
    height: 25vh; */
}

#WebOccult:hover,
#Prototech:hover,
#Promact:hover {
    transform: scale(1);
}

#card{
    width: 60vw;
}

#exp-skills{
    top:10vh;
    padding: 2vh;
    margin: 2vh;
    border-radius: 10px;
    color: white;
    background-color: #9C17F5ff;
    font-size: 1rem;
    font-family: Roboto Serif;
    letter-spacing: 0.2rem;
    justify-content: center;
    font-weight: bold;
    z-index: 5;
}

.exp-text {
    padding: 5vh 10vh;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Patrick Hand SC;
    background-color: rgb(255, 255, 255, 0.5);
    color: BLACK;
}

.exp-buttons {
    font-size: 1.2rem;
    font-family: Roboto Serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 5;
    border-radius: 10px;
}

.exp-buttons>button, .exp-buttons>a {

    padding: 2.5;
    margin: 2.5;
    border-radius: 10px;
    background-color: #9C17F5ff;
    color: WHITE;
}

button{
    margin: 2vh;
    padding: 2vh;
    border-radius: 2vh;
    background-color: #9C17F5ff;
}

button:hover{
    background-color: WHITE;
    color: #9C17F5ff;
}